*{
    margin: 0;
    padding: 0;
}

:root {
    background-color:  black
  }

  body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

  }
h1{
    font-family: 'Lekton', sans-serif;
    color: black;
    text-align: center;
    margin-bottom: 40px;
}

.form-box {
    width: 500px;
    background-color: white;
    margin: 12% auto;
    padding: 50px 0;
    color: #fff;
    box-shadow: 0 0 20px 2px white;
}

.input-box{
    margin: 31px auto;
    width: 80%;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 5px;
}

.input-box input {
    width: 90%;
    border: none;
    outline: none;
    background: transparent;
    color: black;
    margin: 8px 0;
}

::placeholder{
    color: #ccc;

}

.login-btn{
    margin: 40px auto 20px;
    width: 80%;
    display: block;
    outline: none;
    padding: 10px 0;
    border: 1px solid black;
    background: transparent;
    color: black;
    font-size: 16px;
    cursor: pointer;
}